/* EXS edwyn.saunders@outlook.com */

body {
  background-color: beige;
}

hr {
  width: 85%;
}

table {
  width: 100%;
  border: 1px solid black;
}

thead td {
  border: 1px solid black;
  margin: 4px 4px;
  padding: 4px 4px;
}

tbody tr td {
  border: 1px solid black;
  margin: 4px 4px;
  padding: 4px 4px;
}
#ourTitle {
  text-align: center;
}

.footer {
  text-align: center;
}

/* Metro line colours */
/* Red, Orange, Blue, Green, Yellow, Silver  */
